@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sheila", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

/* a:hover {
    opacity: 0.5;
} */

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから */

html {
    scroll-behavior: smooth;
    /* スムーズにスクロールさせるコード */
}

body {
    background: #dddddd;
}


/* ************************************************************** こ こ か ら ********************************************************************* */

.batsu {
    font-size: 100%;
    /*ボタンの大きさ*/
    font-weight: bold;
    border: 1px solid #000000;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 3em;
    line-height: 3em;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    right: 10%;
    top: 3%;
}

.batsu:hover {
    background: #333;
    border-color: #333;
    color: #FFF;
}


.design_cafe {
    max-width: 1500px;
    position: relative;
    top: 0;
    right: 0;
}

.cafe_work {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.work_design {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    margin: 0 auto;
}


@media screen and (max-width:1600px) {

    .batsu {
        position: absolute;
        left: 82%;
        top: 3%;
    }
}

@media screen and (max-width:1500px) {

    .batsu {
        position: absolute;
        left: 85%;
        top: 3%;
    }
}

@media screen and (max-width:1350px) {

    .batsu {
        position: absolute;
        left: 87%;
        top: 3%;
    }
}

@media screen and (max-width:1250px) {

    .batsu {
        position: absolute;
        left: 89%;
        top: 3%;
    }
}

@media screen and (max-width:980px) {

    .batsu {
        font-size: 100%;
        /*ボタンの大きさ*/
        font-weight: bold;
        border: 1px solid #000000;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 1.9em;
        line-height: 2em;
        cursor: pointer;
        transition: .2s;
        position: absolute;
        left: 90%;
        top: 3%;
    }
}


@media screen and (max-width:850px) {

    .batsu {
        font-size: 100%;
        /*ボタンの大きさ*/
        font-weight: bold;
        border: 1px solid #000000;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 1.9em;
        line-height: 2em;
        cursor: pointer;
        transition: .2s;
        position: absolute;
        left: 90%;
        top: 3%;
    }

    .batsu:hover {
        background: #333;
        border-color: #333;
        color: #FFF;
    }
}

@media screen and (max-width:670px) {

    .batsu {
        font-size: 100%;
        /*ボタンの大きさ*/
        font-weight: bold;
        border: 1px solid #000000;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 1.5em;
        line-height: 1.5em;
        cursor: pointer;
        transition: .2s;
        position: absolute;
        left: 90%;
        top: 1%;
    }

    .batsu:hover {
        background: #333;
        border-color: #333;
        color: #FFF;
    }
}

@media screen and (max-width:480px) {

    .batsu {
        font-size: 100%;
        /*ボタンの大きさ*/
        font-weight: bold;
        border: 1px solid #000000;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 1em;
        line-height: 1em;
        cursor: pointer;
        transition: .2s;
        position: absolute;
        left: 90%;
    }

    .batsu:hover {
        background: #333;
        border-color: #333;
        color: #FFF;
    }
}