@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000000;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", "Sheila", sans-serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

/* a:hover {
    opacity: 0.5;
} */

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ***************************************************************ここから ***************************************************************************/


html {
    scroll-behavior: smooth;
    /* スムーズにスクロールさせるコード */
}

body {
    background: #e7e7e7;
}

.header_wrap {
    /* max-width: 1000px; */
    margin: 2% auto 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.wrap {
    margin-left: 7%;
}


.menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.sp_logo {
    display: none;
}

.sp_nav {
    display: none;
    z-index: 1000;
}


.pc_nav {
    text-align: right;
    margin-right: 7%;
    justify-content: space-between;
    z-index: 1000;
}

.pc_nav ul {
    margin: 0;
    padding: 0;
    font-family: 游明朝;
    font-size: 15px;
    display: flex;
    /* margin-left: 450px; */
}

.pc_nav ul li {
    margin-right: 90px;
    list-style: none;
    display: inline-block;
    /* ここで項目の幅を指定します */
}

/* 最終右側のみ余白削除 */
.pc_nav ul li:last-child {
    margin-right: 0;
}

.pc_nav ul li a {
    text-decoration: none;
    color: #333;
}

/* メニュー hover時に下線を出す */
.pc_nav li:hover {
    border-bottom: 2px solid #b0c0c7;
    /* 下線の太さや色を指定 */
}

.first {
    /* max-width: 1148px; */
    max-width: 1356px;
    margin: 0 auto;
    display: flex;
    /* text-align: center; */
    /* padding-left: 160px; */
}

.firstview {
    display: flex;
    flex-flow: column;
    width: 35.18%;
    padding-left: 5.66%
}

/* Rise at... */
.daimei {
    max-width: 340px;
    font-family: Sheila;
    font-size: 6.25em;
    color: black;
    margin-top: 200px;
    padding-right: 50px;
    float: left;
    z-index: 2300;
}

/*コンセプト文章 */
.consept {
    max-width: 210px;
    font-family: 游ゴシック;
    font-weight: normal;
    font-size: 17px;
    line-height: 2.64em;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 30px;
    z-index: 2300;
}


.sp_concept {
    display: none;
}

/* scroll表記 */
.scroll {
    font-family: 游明朝;
    font-size: 12px;
    letter-spacing: 0.05em;
    position: absolute;
    left: 13%;
    /* ↓文字を横のまま縦書きに変える記述 */
    writing-mode: vertical-rl;
    margin-top: 700px;
}


/* scrollのlineのアニメーション */
/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
/* スクロール横のライン */
.line {
    /* border-left: medium solid #000000; */
    height: 300px;
    position: absolute;
    left: 12%;
    margin-top: 700px;
    /*描画位置※位置は適宜調整してください*/
    /* position: absolute; */
    /* left: 50%;
    bottom: 10px; */
    /*全体の高さ*/
    height: 100px;
}

/*Scrollテキストの描写*/
/* .line span { */
/*描画位置*/
/* position: absolute;
    left: -15px;
    top: -15px; */
/*テキストの形状*/
/* color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
} */

/* 線の描写 */
.line::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 2px;
    height: 100px;
    background: #000000;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 2s ease-in-out infinite;
    opacity: 0;
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

.sunrise {
    width: 59.66%
}

/* first view写真設定 */
.sunrise img {
    /* max-width: 700px; */
    /* float: right; */
    /* padding-right: 30px; */
    margin-top: 135px;
    margin-bottom: 75px;
    width: 100%;
}

/* ここからsection seconde */
/* 自分の写真と右のフレームを1000pxでとってその後に写真の左に100px入れる */
.second {
    /* padding-left: 100px; */
    /* text-align: center; */
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.photo {
    width: 30%;
    padding-left: 10%;
}

/* 自分の写真 */
.photo img {
    /* max-width: 285px;
    height: 390px; */
    margin-top: 125px;
    /* margin-left: 290px; */
    width: 80%;
    /* 写真のぼかしを消すコード */
    image-rendering: -webkit-optimize-contrast;
}

/* グレーの四角枠 */
.flame {
    width: 50%;
    padding: 30px 50px 30px 60px;
    background: #d3d3d3;
    box-sizing: border-box;
    /* margin-left: 685px;
    margin-top: -430px;
    position:
    relative; */
}

.point {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sp_point {
    display: none;
}

.icon {
    /* text-align: right; */
    padding-right: 20px;
}

/* Instagramアイコン */
.icon img {
    /* padding-left: 390px; */
    padding-top: 15px;
    width: 70%;
}

/* ABOUT */
.ABOUT {
    font-family: 游明朝;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #000000;
    padding-top: 10px;
}

/* 私について */
.about {
    font-family: 游ゴシック;
    font-size: 16px;
    letter-spacing: 0.05em;
    padding-top: 20px;
    /* text-align: left; */
    /* position: absolute;
    left: 12%;
    top: 22%; */
    /* margin-left: 50px; */
    color: #000000;
}

/* 名前 */
.name {
    font-family: 游ゴシック;
    font-size: 25px;
    letter-spacing: 0.1em;
    padding: 40px 0 30px 0px;
    color: #000000;
}

/* ローマ字 */
.name span {
    font-family: 游明朝;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding-left: 60px;
    color: #000000;
}

/* 趣味等説明文 */
.setumei {
    font-family: 游ゴシック;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 1.7em;
    /* margin-left: 55px; */
    color: #000000;
}

/* 角丸ボタン */
.black {
    text-align: center;
}

/* アニメーションボタン */
.black .prof {
    background: #d3d3d3;
    color: #000000;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    font-family: 游明朝;
    width: 320px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    letter-spacing: 0.1em;
    display: block;
    background: #c4b69a;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: 40px auto 0;
}

.black .prof:hover {
    background: #000000;
    color: #c4b69a;
}

/* ↑ここまでアニメーションボタン */


/* ここからsection third */
.third {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}


/* SKILL */
.skill {
    font-family: 游明朝;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #000000;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
}


/* できること */
.can {
    font-family: 游ゴシック;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}


/* デザインから～文章 */
.omoi {
    font-family: 游ゴシック;
    font-size: 17px;
    /* letter-spacing: 0.1em; */
    line-height: 1.73em;
    color: #000000;
    text-align: center;
    margin-top: 40px;
}

/* SKILL画像のul */
.pc_skillmark {
    margin-bottom: 120px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
}

/* SKILL画像のli */
.skillmark {
    max-width: 120px;
    height: 120px;
    text-align: center;
    margin: auto;
}


/* ここからsection fourth */

/* グレーの四角枠 */
.big_flame {
    width: 100%;
    /* height: 1250px; */
    background-color: #adbabe;
    margin: auto;
    padding-bottom: 40px;
    /*  text-align: center;*/
}


/* WORK */
.WORK {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    font-family: 游明朝;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

/* 制作物 */
.seisaku {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-family: 游ゴシック;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

/* ul,liの外側 */
.pc_job {
    max-width: 1000px;
    padding-top: 140px;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

/* ul */
.pc_work {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* WORK画像全体 li */
.work1,
.work2,
.work3,
.work4,
.work5,
.work6 {
    text-align: center;
    margin: auto;
    max-width: 300px;
    /* max-height: 320px; */
    /* padding-right: 30px; */
    padding-bottom: 50px;
    box-sizing: border-box;
}

/* 最終右側のみ余白削除 */
/* .pc_job ul li:last-child {
    padding-right: 0;
} */

/* VIEW MOREボタン */
/* 文字が１行の時はline-heightとheightの値を同じにすれば垂直方向に均等になる */
.more {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-family: 游明朝;
    width: 320px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    letter-spacing: 0.1;
    display: block;
    background: #6b82a8;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 130px;
    border: none;
    margin-top: 70px;
}

/* アニメーションボタン */

.more {
    background: #6b82a8;
    color: #ffffff;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

/* カーソルが当たった後のボタンと文字の変更色 */
.more:hover {
    background: #000000;
    color: #c4b69a;
}


/* ↑ここまでアニメーションボタン */




/* お問い合わせボタン */
/* .contact_mail {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    font-family: 游明朝;
    width: 350px;
    height: 70px;
    line-height: 70px;
    font-size: 23px;
    letter-spacing: 0.1;
    display: block;
    background: #6b82a8;
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 80px;
    border: none;
    margin-top: 70px;
} */

/* お問い合わせアニメーションボタン */

/* .contact_mail {
    background: #6b82a8;
    color: #ffffff;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
} */

/* カーソルが当たった後のボタンと文字の変更色 */
/* .contact_mail:hover {
    background: #000000;
    color: #c4b69a;
}
 */
/* jQuery("#my-form").submit(function (event) {
        event.preventDefault();

        let baseUrl="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdbl00_m-i0x9qE-Hml6-pIJIoznpeJzGWJcLapd0lG2inRUQ/formResponse";
        let name=jQuery("[name=\"entry.1562400746\"]").val();
        let mail=jQuery("[name=\"entry.1123841326\"]").val();
        let content=jQuery("[name=\"entry.268013712\"]").val(); */
/* let radio=jQuery("[name=\"entry.xxxxxxxxx\"]:checked").val(); */
/* チェックボックスは数分だけ作る */
/* let checks=["", "", "", ""];
        let count=0;

        jQuery("[name=\"entry.1562400746\"]:checked").each(function() {
                checks[count]=jQuery(this).val();
                count++;
            });
        let select=jQuery("[name=\"entry.1562400746\"]").val();

        jQuery.ajax({

            url: baseUrl,
            data: { */
/* "entry.1562400746": name,
                "entry.1123841326": mail,
                "entry.268013712": content, */
/*  "entry.xxxxxxxxx": radio,
                "entry.xxxxxxxxx": checks[0],
                "entry.xxxxxxxxx": checks[1],
                "entry.xxxxxxxxx": checks[2],
                "entry.xxxxxxxxx": checks[3],
                "entry.xxxxxxxxx": select, */
/*  }
 */
/*  ,
            type: "POST",
            dataType: "xml",
        }).always((jqXHR, textStatus, errorThrown)=> {
            window.location.href="thankyou.html";
        });
    return false;
}); */

/* **********************************PC版Googleformメール欄********************************** */
/* ここからsection fifth */
/* CONTACT欄全体 */
.mail {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

/* CONTACT */
.toi {
    font-family: 游明朝;
    font-size: 40px;
    letter-spacing: 0.1em;
    color: #717ae4;
    padding-top: 100px;
}

/* ロゴ／～受ける仕事内容 */
.sigoto {
    font-family: 游ゴシック;
    font-size: 23px;
    letter-spacing: 0.1em;
    color: #717ae4;
    padding-top: 100px;
}

/* ご相談～お願い文 */
.irai {
    font-family: 游ゴシック;
    font-size: 23px;
    letter-spacing: 0.1em;
    color: #717ae4;
    padding-top: 30px;
}

/* 必須～注意文 */
.mandatory {
    font-family: 游ゴシック;
    font-size: 23px;
    letter-spacing: 0.1em;
    color: #ff0000;
    padding-top: 30px;
    padding-bottom: 60px;
    font-weight: bold;
}

/* ①  html①と連携している */
/* CONTACT全体枠 */
.c-form {
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
}

/* 名前（会社名）の全体枠 */
.c-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

/* 名前（会社名）のタイトルと枠の中 */
.c-form__label,
.c-form__input {
    padding: 10px;
}

/* 各タイトル */
.c-form__label {
    width: 90%;
}

/* 各枠の中 */
.c-form__input {
    width: 90%;
    font-size: 16px;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

/* focus-visibleはタブ移動時のみ要素のoutlineを表示させることができる */
.c-form__input:focus-visible {
    outline: rgb(163, 168, 163) auto 1px;
}

/* requiredは必須項目、その文字に対する */
.c-form__required {
    color: red;
    font-weight: bold;
    border-radius: 4px;
    /* padding: 6px 10px; */
    font-family: 游ゴシック;
    font-size: 20px;
    letter-spacing: 0.1em;
}

/* お問い合わせの枠内 */
textarea.c-form__input {
    height: 160px;
}

/* 送信ボタン外枠 */
.c-form__submit {
    text-align: center;
    margin-top: 80px;

}

/* 送信ボタン */
.c-form__submit button {
    width: 320px;
    height: 50px;
    /* line-height: 50px; */
    font-size: 20px;
    color: #000000;
    background: #c4b69a;
    border-radius: 20px;
    color: #000000;
    border: solid 1px #c4b69a;
    /* border-radius: 0%; */
    padding: 5px 32px;
    transition: 0.4s;
    cursor: pointer;
    /*  box-shadow: 6px 6px 3px #666666; */
    font-family: 游ゴシック;
}

/* 送信ボタンの動き */
.c-form__submit button:hover {
    background: #000000;
    color: #c4b69a;
}


/* **************************************       ここまで     ******************************************************* */

/* CONTACT FOME 全体 */
/* form {
    text-align: center;
    max-width: 1000px;
} */

/* CONTACT FOME 指示文 */
/* .form_name {
    width: 100%;
    margin: 40px 0 20px;
    text-align: left;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
} */

/* 上４つの枠の中 */
/* .form_frame {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
}
 */
/* 必須文字 */
/* .form_name span {
    color: red;
    font-weight: bold;
} */

/* お問い合わせ枠の中 */
/* .bg_form {
    width: 100%;
    height: 350px;
    border: none;
    font-size: 18px;
    margin-bottom: 90px;
} */

/* *********************************ここまで************************************* */


/* 送信ボタン */
/* .submit-btn input {
    font-family: 游ゴシック;
    width: 320px;
    height: 50px;
    font-size: 22px;
    letter-spacing: 0.1em;
    display: block;
    color: #000000;
    background: #c4b69a;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin: auto;
    /* 影の設定 */
/*   box-shadow: 6px 6px 3px #666666;
} */

/* 送信ボタンにカーソルが当たるとボタンが下がる動き */
/* .submit-btn input:hover {
    box-shadow: none;
    transform: translate(0, 5px);
} */

/* フッター */
.footer {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.footer_lo_go {
    padding: 170px 0 100px 0;
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

/* フッターロゴ */
/* .footer_logo {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    width: 45%;
} */

/* フッターのメニュー */

/* Ⓒ文章 */
.pc_last {
    font-family: 游明朝;
    font-size: 20px;
    text-align: center;
    padding-bottom: 60px;
    color: #000000;
    margin: auto;
}

.sp_menubar {
    display: none;
}

.sp_first {
    display: none;
}

.sp_second {
    display: none;
}

.sp_third {
    display: none;
}

.sp_fourth {
    display: none;
}

.sp_fifth {
    display: none;
}

.sp_footer {
    display: none;
}


/* ************************************************************************************************************************************************************* */
/* スマホ対応↓ 767pxだがillustratorは375pxで作成375で数値等考えていい*/
@media screen and (max-width:897px) {

    /* pc版をレスポンシブ対応で全て消す */
    .menubar {
        display: none;
    }

    .first {
        display: none;
    }

    .second {
        display: none;
    }

    .third {
        display: none;
    }

    .fourth {
        display: none;
    }

    .fifth {
        display: none;
    }

    .footer {
        display: none;
    }

    .footer_logo {
        display: none;
    }

    .sp_third {
        display: none;
    }

    /* sp版ここから */

    .sp_background {
        background: #dddddd;
        width: 100%;
    }

    /* header部分 */
    .sp_menubar {
        display: block;
    }

    .sp_logo {
        width: 50%;
        display: block;
        z-index: 200;
        position: absolute;
        top: 4%;
        left: 7%;
    }

    /* ハンバーガーメニュー */
    /* .menubar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6.53% 0 2.51%;
        position: absolute;
        /* サイト全体からの位置取り */
    /*  top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 100;
    } */
    /*   */

    /* menu全体 */
    .sp_nav ul {
        display: flex;
        text-align: center;
    }

    /* menuの文字 */
    .sp_nav li {
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }

    /* 最終右側のみ余白削除 */
    .sp_nav ul li:last-child {
        margin-right: 0;
    }

    /* 三本ライン */
    .btn {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 8%;
        /* height: 30px; */
        z-index: 10000;
    }

    /* 三本ラインの真中の線 */
    .btn span {
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    /* 三本ライン上下線 */
    .btn span::before,
    .btn span::after {
        content: '';
        width: 33px;
        height: 3px;
        background: #fff;
        display: block;
        position: absolute;
        transition: 0.3s;
    }

    .btn span::before {
        bottom: 10px;
    }

    .btn span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    /* 回転して×になる */
    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }

    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    /* 三本ライン開いた後のメニュー */
    .sp_nav li {
        text-align: center;
        color: #fff;
        font-size: 17px;
        padding: 10px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }


    /* firstview文章 */
    .sp_first {
        display: block;
        position: relative;
    }

    /* 朝日～文章 */
    .sp_consept {
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 3vw;
        line-height: 2em;
        letter-spacing: 0.05em;
        color: #ffffff;
        position: absolute;
        top: 30%;
        left: 7%
    }

    /* firstview写真 */
    .sp_consept img {
        width: 100%;
        padding-bottom: 40px
    }


    /* Rise at...を消す */
    .daimei {
        display: none;
    }

    .sp_second {
        display: block;
    }

    /* ABOUT欄 */
    .sp_ABOUT {
        font-family: 游明朝;
        font-size: 10vw;
        letter-spacing: 0.1em;
        text-align: center;
        color: #000000;
        display: block;
        padding-top: 40px;
    }

    /* 私について */
    .sp_about {
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 4vw;
        letter-spacing: 0.05em;
        text-align: center;
        color: #000000;
        display: block;
        padding-top: 15px;
    }

    /* 自分の写真 */
    .sp_photo img {
        padding-top: 20px;
        text-align: center;
        display: block;
        margin: auto;
        width: 35%;
    }

    /* about内一部外枠 */
    .sp_point {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        text-align: center;
        padding-top: 30px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .point {
        display: none;
    }

    /* 井上貴史 */
    .sp_name {
        font-family: 游明朝;
        font-size: 6vw;
        letter-spacing: 0.1em;
        color: #000000;
        /* text-align: center; */
        /* margin: auto; */
        /* padding-top: 30px; */

    }

    /* 名前とiconの括り */
    .sp_icon {
        padding-left: 20px;
        /* width: 10%; */
    }

    /* inoue takafumi */
    .sp_name_two {
        font-family: 游明朝;
        font-size: 3vw;
        letter-spacing: 0.1em;
        color: #000000;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    /* 趣味～説明文章 外輪 */
    .sp_setumei {
        width: 85%;
        color: #000000;
        display: block;
        text-align: center;
        margin: auto;
        padding-bottom: 30px;
    }

    /* 趣味～説明文章 */
    .bun {
        display: inline-block;
        text-align: left;
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 3vw;
        line-height: 2em;
    }

    /* 角丸ボタン */
    .sp_black {
        display: block;
        text-align: center;
        margin: auto;
    }

    /* アニメーションボタン */
    .sp_black .sp_prof {
        background: #d3d3d3;
        color: #000000;
        border: none;
        position: relative;
        height: 60px;
        font-size: 1.6em;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
        font-family: 游明朝;
        width: 60%;
        height: 40px;
        /* ボタンの中の文字を中央に合わせるためline-heightをheightと数値を合わせて書き込んでいる */
        line-height: 40px;
        font-size: 17px;
        letter-spacing: 0.15;
        display: block;
        background: #c4b69a;
        border-radius: 20px;
        border: none;
        text-align: center;
        margin: auto;
    }

    .sp_black .sp_prof:hover {
        background: #000000;
        color: #c4b69a;
    }

    /* ↑ここまでアニメーションボタン */

    /* ボタン下のライン */
    .sp_border {
        border-bottom: #8d8d8d solid 1px;
        width: 100%;
        padding-top: 40px;
    }

    /* SKILL */
    .sp_third {
        display: block;
    }

    /* SKILL */
    .sp_skill {
        margin-top: 40px;
        font-family: 游明朝;
        font-size: 10vw;
        letter-spacing: 0.1em;
        color: #000000;
        text-align: center;
    }

    /* できること */
    .sp_can {
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 4vw;
        letter-spacing: 0.05em;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }


    /* ul,liの外側 */
    .sp_mark {
        display: block;
        justify-content: space-between;
        text-align: center;
        margin: auto;
    }

    /* SKILL ul */
    .sp_skillmark {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    /* SKILL li */
    .sp_skill_ill,
    .sp_skill_pho,
    .sp_skill_html,
    .sp_skill_css,
    .sp_skill_js_jq {
        text-align: center;
        margin: auto;
        padding-bottom: 40px;
    }

    /* 最終右側のみ余白削除 */
    /* .sp_mark ul li:last-child {
    padding-right: 0;

} */

    .maru {
        text-align: center;
        margin: auto;
    }


    /* SKILL文章 */
    .sp_omoi {
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 4vw;
        line-height: 2em;
        padding-bottom: 40px;
        display: block;
        width: 85%;
        display: inline-block;
        text-align: left;
    }

    /* WORK */
    .sp_fourth {
        display: block;

    }

    /* WORKの青色背景色 */
    .sp_big_flame {
        background: #a6b6bd;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
        box-sizing: border-box;
    }

    /* work */
    .sp_work {
        padding-top: 60px;
        font-family: 游明朝;
        font-size: 10vw;
        letter-spacing: 0.1em;
        color: #ffffff;
        text-align: center;
        padding-bottom: 10px;
    }

    /* 制作物 */
    .sp_seisaku {
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 4vw;
        letter-spacing: 0.05em;
        padding-bottom: 50px;
        color: #ffffff;
        text-align: center;
    }

    .sp_job {
        display: block;
    }

    .sp_job_logo,
    .sp_job_com,
    .sp_job_cos,
    .sp_job_des {
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding-bottom: 40px;
        justify-content: space-between;
    }

    .sp_job :last-child {
        padding-right: 0;
    }

    /* VIEW MOREボタン */
    /* 文字が１行の時はline-heightとheightの値を同じにすれば垂直方向に均等になる */
    .sp_more {
        text-align: center;
        margin: auto;
        font-family: 游明朝;
        width: 60%;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        letter-spacing: 0.1;
        display: block;
        background: #6b82a8;
        color: #ffffff;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        margin-top: 35px;
    }

    /* アニメーションボタン */

    .sp_more {
        background: #6b82a8;
        color: #ffffff;
        border: none;
        position: relative;
        cursor: pointer;
        transition: 800ms ease all;
        outline: none;
    }

    /* カーソルが当たった後のボタンと文字の変更色 */
    .sp_more:hover {
        background: #000000;
        color: #c4b69a;
    }

    /* ↑ここまでアニメーションボタン */
    .vmb {
        padding-bottom: 90px;
    }


    /* **********************************PC版Googleformメール欄********************************** */
    /* ここからsection fifth */
    /* CONTACT欄全体 */
    /*   .fifth {
        display: none;
    } */

    /*   .mail {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
 */
    /* CONTACT */
    /*    .toi {
        font-family: 游明朝;
        font-size: 30px;
        letter-spacing: 0.1em;
        color: #717ae4;
        padding-top: 70px;
    }
 */
    /* ロゴ／～受ける仕事内容 */
    /*     .sigoto {
        font-family: 游ゴシック;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #717ae4;
        padding-top: 70px;
    } */

    /* ご相談～お願い文 */
    /* .irai {
        font-family: 游ゴシック;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #717ae4;
        padding-top: 30px;
    } */

    /* 必須～注意文 */
    /*  .mandatory {
        font-family: 游ゴシック;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #ff0000;
        padding-top: 30px;
        padding-bottom: 50px;
        font-weight: bold;
    } */

    /* ***************************************************************************************************************** */
    /* ここからsection fifth */
    /* .sp_fifth {
        display: block;
    } */

    /* CONTACT欄全体 */
    .sp_mail {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        display: block;
    }

    /* CONTACT */
    .sp_toi {
        display: block;
        font-family: 游明朝;
        font-size: 10vw;
        letter-spacing: 0.1em;
        color: #717ae4;
        text-align: center;
        padding-top: 50px;
    }

    /* ロゴ／～受ける仕事内容文章 */
    .sp_sigoto {
        max-width: 320px;
        width: 100%;
        font-family: 游ゴシック;
        font-size: 4vw;
        font-weight: normal;
        line-height: 1.66em;
        letter-spacing: 0.1em;
        color: #717ae4;
        padding-top: 30px;
        text-align: center;
        margin: auto;
    }

    /* ご相談～お願い文 */
    .sp_irai {
        font-family: 游ゴシック;
        font-weight: normal;
        font-size: 4vw;
        letter-spacing: 0.05em;
        color: #717ae4;
        padding-top: 30px;
    }

    /* 必須～注意文 */
    .sp_mandatory {
        font-family: 游ゴシック;
        font-size: 4vw;
        letter-spacing: 0.05em;
        color: #ff0000;
        padding-top: 20px;
        padding-bottom: 40px;
        font-weight: bold;
    }

    .sp_fifth {
        display: block;
    }

    /* ①  html①と連携している */
    /* CONTACT全体枠 */
    .sp_c-form {
        width: 100%;
        text-align: left;
        margin: 0 auto;
    }

    /* 名前（会社名）の全体枠 */
    .sp_c-form__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 50px;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        font-size: 3vw;
        font-family: 游ゴシック;
    }

    /* 名前（会社名）のタイトルと枠の中 */
    .sp_c-form__label,
    .sp_c-form__input {
        padding: 12px;
    }

    /* 各タイトル */
    .sp_c-form__label {
        width: 80%;
        margin-top: 40px;
    }

    /* 各枠の中 */
    .sp_c-form__input {
        font-size: 17px;
        border: solid 1px #ffffff;
        border-radius: 4px;
    }

    /* focus-visibleはタブ移動時のみ要素のoutlineを表示させることができる */
    .sp_c-form__input:focus-visible {
        outline: rgb(163, 168, 163) auto 1px;
    }

    /* requiredは必須項目、その文字に対する */
    .sp_c-form__required {
        color: red;
        font-weight: bold;
        border-radius: 4px;
        font-family: 游ゴシック;
        font-size: 3vw;
        letter-spacing: 0.1em;
    }

    /* お問い合わせの枠内 */
    textarea.sp_c-form__input {
        height: 100px;
    }

    /* 送信ボタン外枠 */
    .sp_c-form__submit {
        text-align: center;
        margin-top: 50px;
    }

    /* 送信ボタン */
    .sp_c-form__submit button {
        width: 60%;
        font-size: 15px;
        color: #000000;
        background: #c4b69a;
        border-radius: 20px;
        color: #000000;
        border: solid 1px #c4b69a;
        transition: 0.4s;
        cursor: pointer;
        /*  box-shadow: 6px 6px 3px #666666; */
        font-family: 游ゴシック;
        margin-top: 70px;
    }

    /* 送信ボタンの動き */
    .sp_c-form__submit button:hover {
        background: #000000;
        color: #c4b69a;
    }

    /* フッターのメニュー */

    .sp_footer {
        max-width: 700px;
        text-align: center;
        margin: auto;
        display: block;
    }

    .sp_footer_lo_go {
        padding: 80px 0 40px 0;
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }


    /* Ⓒ文章 */
    .sp_last {
        font-family: 游明朝;
        font-weight: normal;
        font-size: 1vw;
        text-align: center;
        letter-spacing: 0.1em;
        padding-bottom: 30px;
        color: #000000;
        margin: 0 auto;
    }

    .footer {
        display: none;
    }


    /* **************************************       ここまで     ******************************************************* */





    .form_name {
        display: none;
    }

    .form_frame {
        display: none;
    }

    .bg_form {
        display: none;
    }

    .submit-btn {
        display: none;
    }

    .form_name {
        display: block;
    }

    .form_frame {
        display: block;
    }

    .bg_form {
        display: block;
    }

    .submit-btn {
        display: block;
    }


    /* @media (min-width: 640px) { */
    /*  .c-form__item {
        flex-wrap: nowrap;
    }

    .c-form__label {
        width: 40%;
    }

    .c-form__input {
        width: 55%;
    }
 */
    /* } */



    /* CONTACT FOME 全体 */
    /* .frame_frame {
        text-align: center;
        max-width: 720px;
    } */

    /* CONTACT FOME 指示文 */
    /* .sp_form_name {
        width: 100%;
        margin: 40px 0 20px;
        text-align: left;
        color: #000000;
        font-size: 20px;
        font-weight: bold;
    } */

    /* 上４つの枠の中 */
    /*  .sp_form_frame {
        width: 100%;
        height: 50px;
        border: none;
        font-size: 18px;
    } */

    /* 必須文字 */
    /* .sp_form_name span {
        color: red;
        font-weight: bold;
    } */

    /* お問い合わせ枠の中 */
    /* .sp_bg_form {
        width: 100%;
        height: 350px;
        border: none;
        font-size: 18px;
        margin-bottom: 90px;
    } */


    /* 送信ボタン */
    /* .sp_submit-btn input {
        font-family: 游ゴシック;
        width: 60%;
        height: 40px;
        font-size: 15px;
        display: block;
        color: #ffffff;
        background: #6b809e;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        margin: auto;
        /* 影の設定 */
    /*      box-shadow: 6px 6px 3px #666666;
        margin-bottom: 70px;
    } */

    /* 送信ボタンにカーソルが当たるとボタンが下がる動き */
    /*  .sp_submit-btn input:hover {
        box-shadow: none;
        transform: translate(0, 5px);
    } */

    /* フッター */
    /*   .sp_footer {
        display: block;
        width: 100%;
        text-align: center;
        margin: auto;
        padding-bottom: 50px;
    } */
    /* 
    .sp_footer_lo_go {
        text-align: center;
        padding-bottom: 40px;
        width: 75%;
        margin: auto;
    } */

    /* フッターロゴ */
    /* .sp_footer_logo {
        text-align: center;
        padding-bottom: 40px;
        max-width: 180px;
        margin: auto;
    }
 */

}